<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Elyren's Blog</a></h1>
        </header>

        <article>
            <h2><a href="">My first post</a></h2>
            <p>Riuscirò a creare io un sito per il mio fumetto?</p>
            <time>published: 05.07.2023, 15:05</time>
        </article>

        <article>
            <h2><a href="">My second post</a></h2>
            <p>Pensa se faccio prima della casa editrice che ci sta mettendo 1 anno</p>
            <time>published: 05.07.2023, 15:06</time>
        </article>
    </body>
</html>